/* bg '#1c2321', */

/* pink '#e0234e' */

/* project img view bg #DFECF2 */

.skill {
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.skill:hover {
  transform: rotate(360deg);
}

.skill-container {
  padding: 10px;
  align-items: center;
  justify-content: center;

  /* background-color: white; */
}

nav {
  margin-bottom: 35px;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 10px 20px;
}

@media screen and (max-width: 400px) {
  .project-box {
    width: 300px !important;
  }
}
